<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="Data Science, Analytics, Data, sass, software company">
		<meta name="description" content="Sinco - Data Science & Analytics HTML5 Template is designed especially for the agency, multipurpose and business and those who offer business-related services.">
      	<meta property="og:site_name" content="Sinco">
      	<meta property="og:url" content="https://heloshape.com/">
      	<meta property="og:type" content="website">
      	<meta property="og:title" content="Sinco - Data Science & Analytics HTML5 Template">
		<meta name='og:image' content='images/assets/ogg.png'>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#913BFF">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#913BFF">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#913BFF">
		<title>Sinco - Data Science & Analytics HTML5 Template</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/favicon.png' %}">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all">

		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>
		<div class="main-page-wrapper">
			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<section>
				<div id="preloader">
					<div id="ctn-preloader" class="ctn-preloader">
						<div class="animation-preloader">
							<div class="icon"><img src="{% static 'images/logo/preloader.jpg' %}" alt="" class="m-auto d-block" width="38"></div>
							<div class="txt-loading mt-2">
								<span data-text-preloader="E" class="letters-loading">
									E
								</span>
								<span data-text-preloader="L" class="letters-loading">
									L
								</span>
								<span data-text-preloader="E" class="letters-loading">
									E
								</span>
								<span data-text-preloader="C" class="letters-loading">
									C
								</span>
								<span data-text-preloader="T" class="letters-loading">
									T
								</span>
								<span data-text-preloader="O" class="letters-loading">
									O
								</span>
								<span data-text-preloader="R" class="letters-loading">
									R
								</span>
							</div>
						</div>	
					</div>
				</div>
			</section>


			<!-- 
			=============================================
				Search
			============================================== 
			-->
			<div class="offcanvas offcanvas-top theme-search-form bg-three justify-content-center" tabindex="-1" id="offcanvasTop">
				<button type="button" class="close-btn tran3s" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
				<div class="form-wrapper">
					<form action="#">
						<input type="text" placeholder="Search Keyword....">
					</form>
				</div> <!-- /.form-wrapper -->
			</div>

			<!-- 
			=============================================
				Theme Main Menu
			============================================== 
			-->
			<header class="theme-main-menu sticky-menu theme-menu-four">
				<div class="inner-content">
					<div class="d-flex align-items-center">
						<div class="logo order-lg-0"><a href="index.html" class="d-block"><img src="{% static 'images/logo/logo.jpg' %}" alt="" width="90"></a></div>

						<div class="right-widget d-flex align-items-center ms-auto order-lg-3">
							<button class="menu-search-btn tran3s" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i class="bi bi-search"></i></button>
							<a href="/signin" class="send-msg-btn tran3s d-none d-lg-block" style="width: 100px;">login</a>
						</div> <!-- /.right-widget -->

						<nav class="navbar navbar-expand-lg order-lg-2">
							<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						    	<span></span>
						 	</button>
						    <div class="collapse navbar-collapse" id="navbarNav">
						    	<ul class="navbar-nav">
						    		<li class="d-block d-lg-none"><div class="logo"><a href="index.html"><img src="{% static 'images/logo/logo.jpg' %}" alt="" width="130"></a></div></li>

							        <li class="nav-item active dropdown">
							        	<a class="nav-link" href="/" aria-expanded="false">Home</a>
										<!-- Home -->
						            </li>

						            <li class="nav-item dropdown">
							        	<a class="nav-link" href="/aboutus" aria-expanded="false">About us</a>
						            </li>

						            <li class="nav-item dropdown">
							        	<a class="nav-link" href="/pricing" aria-expanded="false">Pricing</a>
						            </li>

							        <li class="nav-item dropdown">
							        	<a class="nav-link " href="/faq" aria-expanded="false">FAQ</a>
						            </li>
									
									<li class="nav-item dropdown">
										<!-- login -->
							        	<ul class="dropdown-menu">
							                <li><a href="portfolio-V1.html" class="dropdown-item"><span>s'identifier</span></a></li>
											<!-- signup -->
						                </ul>
						            </li>


									<li class="nav-item dropdown">
							        	<a class="nav-link " href="/contact" aria-expanded="false">Contact</a>
						            </li>
						    	</ul>
						    	<!-- Mobile Content -->
						    	<div class="mobile-content d-block d-lg-none">
						    		<div class="d-flex flex-column align-items-center justify-content-center mt-70">
						    			<a href="/signin" class="send-msg-btn tran3s mb-10">login</a>
						    			<div class="call-button">Call us <a href="#">(+880) 321 782 110</a></div>
						    		</div>
						    	</div> <!-- /.mobile-content -->
						    </div>
						</nav>
					</div>
				</div> <!-- /.inner-content -->
			</header> <!-- /.theme-main-menu -->
			
			<!-- 
			=============================================
				Theme Hero Banner
			============================================== 

			-->
			<div class="hero-banner-five">
				<div class="container">
					<div class="row">
						<div class="col-xxl-6 col-md-7">
							<h1 class="hero-heading">Centre d'intelligence de données <span>électorales.</span></h1>
							<p class="text-lg mb-50 pt-40 pe-xl-5 md-pt-30 md-mb-40">L’application Elector Audit permet d’accéder aux listes électorales, de rechercher des électeurs , d’afficher des synthèses et de suivre l’historique d’enrôlement pour garantir l'intégrité et la transparence du processus électoral.</p>
							<ul class="style-none button-group d-flex align-items-center">
								<li class="me-4"><a href="contact-us.html" class="demo-btn ripple-btn tran3s">Request A Demo</a></li>
								<li><a class="fancybox video-icon tran3s" data-fancybox="" href="https://www.youtube.com/embed/aXFSJTjVjw0"><i class="fas fa-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div> <!-- /.container -->
				<div class="illustration-holder">
					<img src="{% static 'images/assets/ils_13.svg' %}" alt="" class="main-illustration ms-auto">
					<img src="{% static 'images/assets/ils_13_1.svg' %}" alt="" class="shapes shape-one">
					<img src="{% static 'images/assets/ils_13_2.svg' %}" alt="" class="shapes shape-two" data-aos="fade-down">
					<img src="{% static 'images/assets/ils_13_2.svg' %}" alt="" class="shapes shape-three" data-aos="fade-down">
				</div> <!-- /.illustration-holder -->
				<div class="shapes oval-one"></div>
			</div> <!-- /.hero-banner-five -->

			


			<!-- 
			=============================================
				Feature Section Seventeen
			============================================== 
			-->
			<div class="fancy-feature-seventeen position-relative mt-160 xl-mt-50">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-lg-5" data-aos="fade-right">
							<div class="title-style-three text-center text-lg-start">
								<h2 class="main-title"> Des <span>Services</span> de qualité.</h2>
							</div> <!-- /.title-style-three -->
						</div>
						<div class="col-xl-6 col-lg-7" data-aos="fade-left">
							<p class="m0 text-center text-lg-start md-pt-30">NLP entails applying algorithms to identify and extract rules such that the unstructured language data is converted.</p>
						</div>
					</div>

					<div class="row justify-content-center pt-30">
						<div class="col-lg-4 col-md-6" data-aos="fade-right">
							<div class="block-style-twelve mt-30 ps-lg-0 pe-xl-5 me-xl-2">
								<div class="icon d-flex align-items-end"><img src="{% static 'images/icon/icon_31.svg' %}" alt=""></div>
								<h5><a href="service-details-V1.html">Doneés Électorales</a></h5>
								<p>De l'enrôlement,  l'audit de la liste électorale provisoire, l'assistance lors du contentieux sur la liste ,la cartographie électorale ,le monitoring des opérations de vote et la certification des résultats des élections.</p>
								<a href="service-details-V1.html" class="tran3s more-btn"><img src="{% static 'images/icon/icon_20.svg' %}" alt=""></a>
							</div> <!-- /.block-style-twelve -->
						</div> <!-- /.item -->
						<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
							<div class="block-style-twelve mt-30 active">
								<div class="icon d-flex align-items-end"><img src="{% static 'images/icon/icon_32.svg' %}" alt=""></div>
								<h5><a href="service-details-V1.html">Formations</a></h5>
								<p>les formations dispensées couvrent des sujets tels que l'analyse des données électorales,l'interprétation des résultats, la gestion des opérations électorales.</p>
								<a href="service-details-V1.html" class="tran3s more-btn"><img src="{% static 'images/icon/icon_20.svg' %}" alt=""></a>
							</div> <!-- /.block-style-twelve -->
						</div> <!-- /.item -->
						<div class="col-lg-4 col-md-6" data-aos="fade-left">
							<div class="block-style-twelve mt-30">
								<div class="icon d-flex align-items-end"><img src="{% static 'images/icon/icon_33.svg' %}" alt=""></div>
								<h5><a href="service-details-V1.html">Coaching</a></h5>
								<p>Les programmes sont conçus pour renforcer les capacités des organismes électorales ,le suivi des irrégularités,  la mobilisation des électeurs etc.</p>
								<a href="service-details-V1.html" class="tran3s more-btn"><img src="{% static 'images/icon/icon_20.svg' %}" alt=""></a>
							</div> <!-- /.block-style-twelve -->
						</div> <!-- /.item -->
					</div>
				</div> <!-- /.container -->
				<div class="shapes shape-one"></div>
			</div> <!-- /.fancy-feature-seventeen -->

			


			<!-- 
			=============================================
				Feature Section Eighteen
			============================================== 
			-->
			<div class="fancy-feature-eighteen position-relative pt-200 pb-225 lg-pt-130 md-pt-100 xl-pb-150 lg-pb-100">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-7 ms-auto">
							<div class="block-style-two" data-aos="fade-left">
								<div class="title-style-three">
									<div class="sc-title">Over 150k+ Client</div>
									<h2 class="main-title">Quels sont les objectifs de jamelec? </h2>
								</div> <!-- /.title-style-three -->
								<p class="pt-20 pb-25 lg-pb-20">L'objectif principal de jamelec est la fourniture à toutes les parties concernées par les élections  ( citoyens,  partis politiques,  candidats potentiels, société civile) les services ,produits et prestations nécessaires à la maîtrise du processus électorale, à tous les niveaux . A cet effet, jamelec a conçu une application web appelée Elector.</p>
								
							</div> <!-- /.block-style-two -->
						</div>
					</div>
				</div> <!-- /.container -->
				<div class="illustration-holder" data-aos="fade-right">
					<img src="{% static 'images/assets/ils_14.svg' %}" alt="" class="w-100 main-illustration">
					<img src="{% static 'images/assets/ils_14_1.svg' %}" alt="" class="shapes shape-one" data-aos="fade-down">
					<img src="{% static 'images/assets/ils_14_2.svg' %}" alt="" class="shapes shape-two" data-aos="fade-down" data-aos-delay="100">
					<img src="{% static 'images/assets/ils_14_3.svg' %}" alt="" class="shapes shape-three" data-aos="fade-down" data-aos-delay="200">
					<img src="{% static 'images/assets/ils_14_4.svg' %}" alt="" class="shapes shape-four">
					<img src="{% static 'images/assets/ils_14_5.svg' %}" alt="" class="shapes shape-five">
					<img src="{% static 'images/assets/ils_14_6.svg' %}" alt="" class="shapes shape-six">
					<img src="{% static 'images/assets/ils_14_7.svg' %}" alt="" class="shapes shape-seven">
				</div> <!-- /.illustration-holder -->
				<div class="shapes oval-one"></div>
				<div class="shapes oval-two"></div>
				<div class="shapes oval-three"></div>
			</div> <!-- /.fancy-feature-eighteen -->



			<!-- 
			=============================================
				Feature Section Nineteen
			============================================== 
			-->
			<div class="fancy-feature-nineteen position-relative pt-130 lg-pt-80">
				<div class="container">
					<div class="row">
						<div class="col-xxl-5 col-lg-6 col-md-7">
							<div class="block-style-thirteen" data-aos="fade-right">
								<div class="title-style-three pb-15">
									<div class="sc-title">WORK PROCESS</div>
									<h2 class="main-title">Comment fonctionne le système Elector?.</h2>
								</div> <!-- /.title-style-three -->
								<ul class="style-none list-item">
									<li data-aos="fade-up">
										<div class="numb tran3s">1</div>	
										
										<span>Les visiteurs s'inscrivent et chossissent un forfait ( gratuit, premium,professionnel ou Exclusif) pour accéder à différents niveaux de fonctionnalités.  L'application offre un tableau de bord synthétisant les données électorales nationales, avec des filtres géographiques.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="50">
										<div class="numb tran3s">2</div>
										<span>Elle permet d'accéder aux listes électorales, de rechercher des électeurs, d'afficher des synthèses et de suivre l'historique d'enrôlement.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="100">
										<div class="numb tran3s">3</div>
										<span>Elle fournit des details sur les irrégularités et les anomalies que renferme la liste électorale provisoire telles que les décès signalés, les mineurs,les centenaires,les mentions incomplètes sur l'identité de l'électeur, les inscriptions multiples, etc.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="100">
										<div class="numb tran3s">4</div>
										<span>Elle met en lumière tous mouvements des électeurs ( nouveaux majeurs,nouveaux inscrits,transhumants,etc) et des lieux de vote (ajouts,suppressions, déplacements).</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="100">
										<div class="numb tran3s">5</div>
										<span>Elle permet d'analyser l'historique des données électorales (cartographie, électeurs,irrégularités) sur plusieurs éditions. Elle publie les résultats électoraux passés de manière transparente et assessible.</span>
									</li>
								</ul>
							</div> <!-- /.block-style-thirteen -->
						</div>
					</div>
				</div> <!-- /.container -->
				<div class="illustration-holder" data-aos="fade-left">
					<img src="{% static 'images/assets/ils_15.svg' %}" alt="" class="w-100 main-illustration">
					<img src="{% static 'images/assets/ils_15_1.svg' %}" alt="" class="shapes shape-one">
					<img src="{% static 'images/assets/ils_15_2.svg' %}" alt="" class="shapes shape-two">
					<img src="{% static 'images/assets/ils_15_3.svg' %}" alt="" class="shapes shape-three">
					<img src="{% static 'images/assets/ils_15_4.svg' %}" alt="" class="shapes shape-four">
					<img src="{% static 'images/assets/ils_15_5.svg' %}" alt="" class="shapes shape-five" data-aos="fade-down" data-aos-delay="200" data-aos-duration="2000">
					<img src="{% static 'images/assets/ils_15_6.svg' %}" alt="" class="shapes shape-six" data-aos="fade-down" data-aos-delay="100" data-aos-duration="2000">
					<img src="{% static 'images/assets/ils_15_7.svg' %}" alt="" class="shapes shape-seven" data-aos="fade-down" data-aos-duration="2000">
				</div> <!-- /.illustration-holder -->
				<div class="shapes oval-one"></div>
				<div class="shapes oval-two"></div>
				<img src="{% static 'images/shape/shape_35.svg' %}" alt="" class="shapes bg-shape">
			</div> <!-- /.fancy-feature-nineteen -->




			<!--
			=====================================================
				Counter Section One
			=====================================================
			-->
		



			<!--
			=====================================================
				Feedback Slider Four
			=====================================================
			-->

			<!--
			=====================================================
				Feature Section Twenty
			=====================================================
			-->
			



			<!--
			=====================================================
				Blog Section Three
			=====================================================
			


			=====================================================
				Feature Section Twenty One
			=====================================================
			-->
			


			<!--
			=====================================================
				Partner Section Two
			=====================================================
			-->

		
			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<div class="footer-style-four theme-basic-footer">
				<div class="container">
					<div class="inner-wrapper">
						<div class="subscribe-area">
							<div class="row align-items-center">
								<div class="col-md-6">
									<div class="title-style-four sm-pb-20">
										<h4 class="main-title">Soyez informé en temps réel <span>aux newsletter</span></h4>
									</div> <!-- /.title-style-four -->
								</div>
								<div class="col-md-6">
									<div class="subscribe-form">
										<form action="#">
											<input type="email" placeholder="Enter your email">
											<button class="ripple-btn tran3s">Subscribe</button>
										</form>
										<p>We only send interesting and relevant emails.</p>
									</div> <!-- /.subscribe-form -->
								</div>
							</div>
						</div> <!-- /.subscribe-area -->
						<div class="row">
							<div class="col-lg-4 footer-intro mb-40">
								<div class="logo"><a href="index.html"><img src="{% static 'images/logo/logo.jpg' %}" alt="" width="130"></a></div>
								<p>In this class, you will learn about the most effective machine learning techniques, and gain practice implementing them.</p>
								<ul class="d-flex social-icon style-none">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-sm-4 ms-auto mb-30">
								<h5 class="footer-title">Links</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="index.html">Home</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="about-us2.html">About us</a></li>
									<li><a href="service-V1.html">Service</a></li>
									<li><a href="blog-V1.html">Blog</a></li>
								</ul>
							</div>
							
							<div class="col-xl-2 col-lg-3 col-sm-4 mb-30">
								<h5 class="footer-title">Legal</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="faq.html">Terms of use</a></li>
									<li><a href="faq.html">Terms & conditions</a></li>
									<li><a href="faq.html">Privacy policy</a></li>
									<li><a href="faq.html">Cookie policy</a></li>
								</ul>
							</div>
						</div>

						<div class="bottom-footer">
							<div class="d-lg-flex justify-content-between align-items-center">
								<ul class="order-lg-1 pb-15 d-flex justify-content-center footer-nav style-none">
									<li><a href="faq.html">Privacy &amp; Terms.</a></li>
									<li><a href="/faq">FAQ</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
								</ul>
								<p class="copyright text-center order-lg-0 pb-15">Copyright © 2024 jamelec Tous droits réservés</p>
							</div>
						</div>
						
					</div> <!-- /.inner-wrapper -->
				</div>
			</div> <!-- /.footer-style-four -->


			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>
			
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="{% static 'vendor/jquery.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<!-- AOS js -->
		<script src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>
		<!-- Slick Slider -->
		<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
		<!-- js Counter -->
		<script src="{% static 'vendor/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.waypoints.min.js' %}"></script>
		<!-- Fancybox -->
		<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

		<!-- Theme js -->
		<script src="{% static 'js/theme.js' %}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>